<div class="row mini-font">
  <div class="col-12 d-flex justify-content-between align-items-center">
      <div>
          <b>{{empleado.idChecador}}</b> {{empleado.nombre}} {{empleado.apellidos}} 
          Periodo - 2019-04-01 | 2019-07-30

      </div>
      <div>
          Registro de entradas y salidas

      </div>
  </div>
</div>

<div class="row">
  <div class="col-6" *ngFor="let mes of llaves(empleado?.eventos?.datos[2019])">
    {{ mes | titlecase }} 
    <app-detalle-de-eventos [eventosMes]='empleado?.eventos?.datos[2019][mes]' ></app-detalle-de-eventos>
  </div>
</div>


<div class="row text-center" style='margin-top: 250px'>
  <div class="col-4 offset-4 text-center border-top">
      {{empleado.nombre}} {{empleado.apellidos}} 
  </div>
</div>
