@media print {
    table.delgado td {
        padding: 0px 5px;
        white-space: nowrap;
        font-size: 6pt;
    }
    
    table  th{
        padding: 0px 5px;
        font-size: 5pt;
    }
    
    
    
}

/* 
.mostrar:hover > div  {

    display: block;
}

div.esconder  {
    display: none;
}


 */
