app-reporte-de-checadas-por-persona {
  display: none;
}

@media print {
  app-reporte-de-checadas-por-persona {
    display: block;
  }

  app-pagina-principal {
    display: none;
  }
  
  .mini-font {
    font-size: 10pt;
  }

  .no-imprimir {
    display: none
  }
}


.modal-xl {

  width: 95%
}

